.vs/
RestaurantDatabaseManagement/bin/
RestaurantDatabaseManagement/obj/
RestaurantDatabaseManagement/Migrations/
RestaurantDatabaseManagement/appsettings.json
RestaurantDatabaseManagement/appsettings.Development.json

